<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>中国集美蓝天航空公司官网</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/__CSS__/login.css">
</head>
<body>
<div id="header">
	<a href="index.html"><img alt="brand" src="__PUBLIC__/__IMG__/brand.png"></a>
</div>
<hr>
<div id="center">
	<div id="loginbox">
		<h1>Login</h1>
		<form action="{:url('login/check')}" method="post">
			<input type="text" name="account" required="required" placeholder="用户名" >
			<input type="password" name="password" required="required" placeholder="密码">
			<input id="button" type="submit" value="登录">
		</form>
		<a id="register" href="register.html">注册</a>
	</div>
	<div id="info">
		<p>Copyright &copy;2018  中国集美蓝天航空公司</p>
	</div>
</div>
</body>
</html>