<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>舱位产品信息信息管理</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta content="" name="description" />
    <meta content="webthemez" name="author" />
	<link type="text/css" href="__PUBLIC__/__CSS__/bootstrap.css" rel="stylesheet"/>
	<link type="text/css" href="__PUBLIC__/__CSS__/font-awesome.css" rel="stylesheet"/>
	<link type="text/css" href="__PUBLIC__/__CSS__/custom-styles.css" rel="stylesheet"/>
	<link type="text/css" href="__PUBLIC__/__CSS__/manager_common.css" rel="stylesheet">

	<script src="__PUBLIC__/__JS__/jquery-1.10.2.js"></script>
	<script src="__PUBLIC__/__JS__/bootstrap.min.js"></script>
	<script src="__PUBLIC__/__JS__/jquery.metisMenu.js"></script>
	<script src="__PUBLIC__/__JS__/custom-scripts.js"></script>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="{:url('flights/put')}"><strong><i class="icon fa fa-plane"></i> 航空管理系统</strong></a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i>{$Think.session.account}</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{:url('login/logout')}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a href="{:url('flights/put')}"><i class="fa fa-dashboard"></i> 航班信息管理</a>
                    </li>
                    <li>
						<a href="{:url('dynflight/put')}"><i class="fa fa-desktop"></i> 动态航班信息管理</a>
					</li>					 
                    <li>
                    	<a class="active-menu" href="{:url('product/put')}"><i class="fa fa-sitemap"></i> 舱位产品信息管理</a>
                    </li>
                    <li>
                    	<a href="{:url('index/manager_monthreport')}"><i class="fa fa-qrcode"></i> 航班月度信息分析</a>
                    </li>
                    <li>
                    	<a href="{:url('rules/managerput')}"><i class="fa fa-table"></i> 退换票规则管理</a>
                    </li>
                </ul>

            </div>
        </nav>
        <div id="page-wrapper">
		  <div class="header"> 
                        <h1 class="page-header">
							Admin {$Think.session.account}<small>Welcome</small>
                        </h1>
		</div>
		<div id="content">
			<div id="content_box">
				<h3>舱位产品列表</h3>
				<table>
 			 		<tr><td>航班编号</td><td>航班日期</td><td>舱位产品编号</td><td>修改舱位产品</td></tr>
                    {volist name="data" id="product"}
	 				<tr>
	 					<td>{$product.flightID}</td>
	 					<td>{$product.exFlightDate}</td>
	 					<td>{$product.flightProductID}</td>
	 					<td>
                            <a href="{:url('product/find',['flightID'=>$product.flightID,'exFlightDate'=>$product.exFlightDate,'flightProductID'=>$product.flightProductID])}"><img src="__PUBLIC__/__IMG__/update.png" width="30px" height="30px"></a>
                        </td>
	 				</tr>
                    {/volist}
 				</table>
                <div id="pages">
                    {$page}
                </div>
			</div>

		</div>
        <div id="page-inner"> 
			 <footer><p>Copyright &copy; 2018 中国集美蓝天航空公司.</p></footer>
		</div>
<!--<%if( request.getAttribute("update")!=null&&request.getAttribute("update").equals("ok")) {%>-->
	<!--<script type="text/javascript">-->
	<!--alert("修改成功");-->
	<!--</script>-->
<!--<%}%>-->
        </div>
    </div>
</body>
</html>