<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>航班动态查询</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/__CSS__/queryresult.css">
</head>
<body>
<div id="header">
    <a href="{:url('index/user_index')}"><img alt="brand" src="__PUBLIC__/__IMG__/brand.png"></a>
    <a class="entrance" href="#">{$Think.session.account}</a>
    <a class="entrance" href="{:url('login/logout')}">退出</a>
</div>

<div id="menubar">
    <div class="dropdown">
        <a href="{:url('index/user_index')}"><button class="dropbt">首页</button></a>
    </div>
    <div class="dropdown">
        <button class="dropbt">预定管理 </button>
        <div class="content">
            <a href="#">机票预定</a>
            <a href="#">旅游预定</a>
            <a href="#">团队商旅</a>
            <a href="#">在线选座</a>
            <a href="#">高端选餐</a>
            <a href="#">航班动态</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbt">云朵会员</button>
        <div class="content">
            <a href="{:url('personal/put')}">我的账户</a>
            <a href="{:url('order/put')}">我的订单</a>
            <a href="#">积分累计</a>
            <a href="#">积分兑换</a>
            <a href="#">会员权益</a>
            <a href="#">优惠专区</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbt">出行帮助</button>
        <div class="content">
            <a href="{:url('rules/userput')}">购票服务</a>
            <a href="#">中转服务</a>
            <a href="#">出行准备</a>
            <a href="#">地面服务</a>
            <a href="#">客舱服务</a>
            <a href="#">运输规定</a>
        </div>
    </div>
</div>
<hr>
<div id="middle">
    <div id="result_header">
        <label>
            出发城市:<span style="color:blue">{$departCity}</span>&nbsp;&nbsp;
            到达城市:<span style="color:blue">{$arriveCity}</span>&nbsp;&nbsp;
            出发日期:<span style="color:blue">{$exFlightDate}</span>
        </label>
    </div>
    <hr/>
    <div id="result_content">
        <table>
            {volist name="allExFlight" id="val"}
            <tr><td>航班号</td><td>航程</td><td>日期</td><td>起飞时间</td><td>到达时间</td><td>航班状态</td></tr>
            <tr>
                <td>{$val.flightID}</td>
                <td>{$departCity} - {$arriveCity}</td>
                <td>{$exFlightDate}</td>
                <td>{$val.departTime}</td>
                <td>{$val.arriveTime}</td>
                {if($val.flightStateID==1)}
                <td>计划</td>{elseif $val.flightStateID==2}
                <td>到达</td>{elseif $val.flightStateID==3}
                <td>延误</td>{else $val.flightStateID==4}
                <td>取消</td>
                {/if}
            </tr>
            {/volist}
        </table>
    </div>
</div>
<div id="info">
    <p>Copyright &copy; 2018 中国集美蓝天航空公司.</p>
</div>
</body>
</html>